@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0077ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
  --font-work-sans: var(--font-work-sans);
} 

html{
  scroll-snap-type: y mandatory;
}

body{
  font: var(--font-roboto);
}
header{
  font: var(--font-work-sans);
}